// COLORS
$primary-color: #333333;
$secondary-color: #161616;

$word-primary-color: #b90f0f;
$word-secondary-color: #b8b50e;

$white-color: rgb(216, 216, 216);

$dark-grey: #333333;

$dark-blue-text: #271d1d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
